* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sora",sans-serif;
    --primary-color:#FF5B2E;
}

html {
    font-size: 62.5%;
}

/* Common */
a {
    text-decoration: none;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins",sans-serif;
    background: #FFFAF5;
}

input, textarea,select, button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height:56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0,9,88,0.7);
   
    color: #000958;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;

}

.btn__icon {
    display: flex;
    align-items:center;
    justify-content:center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191,41,0,0.4);
}

.section-heading {
    color: #000958;
    font-family: var(--font-heading);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}


.navbar__link,
.header-action__link{
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height:50px;
    min-width: 118px;
    
}


/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items:center;
    justify-content:space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap {
    /* Để ảnh có bé thì vẫn luôn được căn giữa và ở sát dưới */
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    /* ảnh chàn ra ngoài border -> bo góc luôn cả ảnh */
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
    
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    /* Cho ảnh xuống phía dưới  */
    align-self: flex-end;

    width: 186px;
    height: 244px;
    background: #FAA7AD;
    /* Căn chỉnh vị trí của ảnh */
    margin-left: -24px;
    margin-bottom: -58px;

    border: 2px solid #f7dddf;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    display: flex;
}

.hero-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #FEC23F;
}

.hero-item:nth-of-type(2) .hero-item__thumb {
    background: #C6E2FA;
}
.hero-item__info {
    margin-left: 10px;
}

.hero-item__title {
    color: #181E52;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}

.hero-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-item__skeleton:last-child {
    width: 39px;
}

.hero-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #F2F2F2;
    border-radius: 99px;
}

.hero__heading {
    color: #000958;
    font-family: var(--font-heading);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87; /* 187.5% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height:60px;

    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}
/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5E6085;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */   
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    /* chia làm 2 cột và width tự động để chia khoảng cách 2 cột chính xác */
    grid-template-columns: auto auto;
    justify-content: flex-start;

    gap: 36px;
}

.about__check-items {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-items::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255,93,49,0.69);
    border-radius: 4px;
}

.about__check-items::after {
    content: url(../icons/Check.svg);
    position: absolute;
    top: 3px;
    left: 3px;
}

/* about card */
.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    text-align: center;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #FFF;
    font-family: var(--font-heading);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    line-height: 1.43; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    /* căn cho bức ảnh sang trái */
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    height: 336px;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 3px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -24px;
}

.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
    
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #FF5B2E;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex; 
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 25px;
}

.tab__title {
    color: #48496A;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__contents {
    margin-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 390px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.tab__content-more {
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    display: inline-block;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    opacity: 1;
    height: 2px;
    
}

/* Service */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5E6085;
    margin-bottom: 15px;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 65px;
}

.service-item {
    padding: 30px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-family: var(--font-heading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-item__heading::before {
    content:"";
    display: inline-block;
    position: absolute;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396A;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */

}

.service-item__more::after {
    margin-left: 5px;
    margin-top: 1px;
    content: url(../icons/ArrowUpRight.svg);
}

.service__media {
    margin-top: 18px;
    position: relative;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #FF5B2E;
    border-color: currentColor;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__desc {
    color: #5E6085;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    margin: 0 16px;
    border-radius: 130px;
    position: relative;
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: 130px;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item__img-wrap::after { 
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E, #F3752E);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E, #FFA14A);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2, #00A7CC);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: var(--font-heading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
    color: #FF5B2E;
    border-color: #FF5B2E;
}

/* pricing */
.pricing {
    padding: 86px 0;
    background: #FFF6ED;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 31px;
    border: 1px solid rgb(255 91 46 / 60%);
    cursor: pointer;
    /* để người dùng ko select vào được  */
    user-select: none;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #FF5B2E;
}
.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

    /* //khi input được check thì tác động vào thẻ label đứng sau */
.pricing__switch-input:checked +.pricing__switch-label::before { 
    /* hủy bỏ left=0 ở trên  */
    left: auto;

    width: 131px;
    right: 0;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: #FF5B2E;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #FFF;
}

.pricing-item__active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3F4065;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: var(--font-heading);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing-item__btn {
    --height:44px;

    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.60);
    color: #FF5B2E;
    background: transparent;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    /* để chữ ko bị thò thụt do dấu cách */
    display: flex;

    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__item::before {
    content: url(../icons/price-check.svg);
    margin-right: 14px;
}

/* Review */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #FFD1C4;
    background: transparent;
    color: #FF5B2E;
    /* để phần tử ko bị co lại */
    flex-shrink: 0;
}

.review__control:hover {
    color: #fff;
    background: #FF5B2E;
    border-color: #FF5B2E;
    cursor: pointer;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;

}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;

    /* để cho item chiết hết thẻ cha và ko bị co lại  */
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    width: 274px;
    flex-shrink: 0;
    border-radius: 137px;
    position: relative;
    /* cho ảnh lùi lên để căn giữa vs nd */
    margin-top: -52px;
  
}

.review-item__media::before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    background: #ffda54;
    height: 80%;
    border-radius: inherit;
}

.review-item__content {
    margin-top: 28px;
}

.review-item__img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: block;
}
.review-item__quots {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56; /* 155.556% */
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    
}

.review-item__author::before {
    content: "";
    margin-right: 8px;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
    display: inline-block;

}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
}

.review__dot:hover {
    background: #ff5b2e;
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: #ff5b2e;
}